<mat-toolbar>

  <button mat-button [matMenuTriggerFor]="about">About</button>
  <mat-menu #about="matMenu" yPosition="below">
    <button mat-menu-item>About Us</button>
    <button mat-menu-item>Contact Us</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="customers">Customers</button>
  <mat-menu #customers="matMenu" yPosition="below">
    <button mat-menu-item routerLink="customers/list">Customers List</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="orders">Orders</button>
  <mat-menu #orders="matMenu" yPosition="below">
    <button mat-menu-item routerLink="orders/list">Orders List</button>
  </mat-menu>

  <button mat-button >Sign Up</button>
</mat-toolbar>


<router-outlet></router-outlet>

